<div class='row'>
    
    <div class="title row columns">
      
      <h1><strong><i><%= @blog.title.titleize %></i></strong></h1>
       
        <div class="row callout">
          <div class="large-7 columns">
            <h5>Categories</h5>
            <% @tags.each do |tag| %>
              <%= link_to tag.titleize, tag_path(tag), class: 'button small second' %>
            <% end %>
          </div> 
          
          <div class="large-3 columns">
            <h5>Share</h5>
            <%= social_share_button_tag(@blog.title) %>
          </div>
      </div>

    </div>
  
  <div class='large-7 columns'>
    <div>
      <h5><%= @blog.body.html_safe %></h5>
    </div>  
    <% if @blog.video.present? %>
      <div class='embed-container'>
        <%= content_tag(:iframe, nil, src: "http://#{@video_link}") %>
      </div>
    <% end %>
    <%= social_share_button_tag(@blog.title) %>
  </div>
  
  <div class="large-4 columns " >
    <div>
      <% if @related_blogs.count > 0 %>
        <%= render "layouts/related" %>
      <% end %>

        <%= render "layouts/trending" %>
    </div>
  </div>   
</div>