<% if admin_signed_in? %>
  <div class="row">
    <div class='large-6 columns'>
      <div class='blog-count'>
        <h1><%= @blog_count %></h1>
        <h4>Blogs</h4>
      </div>  
    </div>
    <div class='large-6 columns'>
      <div class='row is-row'>
        <div class='large-6 columns'>
          <h2><%= @ingredients_count %></h2><h6>Ingredients</h6>
        </div>
        <div class='large-6 columns'>
          <br><br>
          <%= link_to "View", root_path, class:'button' %>
        </div>  
      </div>
      <hr>
      <div class='row is-row'>
        <div class='large-6 columns'>
          <h2><%= @suppliments_count %></h2><h6> Supplimnets Created</h6>
        </div>
        <div class='large-6 columns'>
          <br><br>
          <%= link_to "View", root_path, class:'button' %>
        </div>
      </div>  
    </div> 
  </div> 
  <hr>
  <div class='row '>
    <div class='large-4 columns'>
      <%= link_to new_blog_path do  %>
        <div class='panel callout radius'>
          <h5>New Blog</h5>
        </div>  
      <% end %>
  </div>
  <div class='large-4 columns'>
     <%= link_to new_blog_path do  %>
      <div class='panel callout radius'>
        <h5>New Ingredient</h5>
      </div>  
     <% end %>
   </div>
   <div class='large-4 columns'>
      <%= link_to new_site_style_path do  %>
        <div class='panel callout radius'>
          <h5>Edit Home Images</h5>
        </div>  
      <% end %>
    </div>
  </div> 
<% else %>
  Only Admins Can See This Page <%= link_to "Log On Here", new_admin_session_path, class: 'button success' %>
<% end %>