<div class="row">
    <div class="medium-4 columns">
      <img src="https://mail.google.com/mail/u/0?ui=2&ik=7bf0ac10f4&attid=0.0.1&th=1586f2b9e49fbd84&view=fimg&rm=1586f2b9e49fbd84&sz=w1600-h1000&attbid=ANGjdJ_pQ4gdEPELsg_Ae8M2X7eel0W2LKi2nY2P27ozCAtJrrY2Yp1TLErMUqBjK5GJC_GRnFw0vZelsxrOdfCcJI9pwZ-yWn_aXekGOyuGaqVsGcJEtiUWP-0ZjNw&disp=emb&zw" alt="main article image">
    </div>
    <div class="medium-8 columns">
      <img src="http://placehold.it/900x175&text=Responsive Ads - ZURB Playground/333" alt="advertisement for deep fried Twinkies">
    </div>
  </div>



<div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="small">
    <button class="menu-icon" type="button" data-toggle></button>
    <div class="title-bar-title">Menu</div>
  </div>

  <div class="top-bar" id="main-menu">
    <ul class="menu medium-horizontal expanded medium-text-center">
      <li >
        <h4>Education</h4>
      </li>
      <li >
        <h4>Fitness</h4>
      </li>
      <li >
        <h4>Growth</h4>
      </li>
      <li >
        <h4>Safety</h4>
      </li> 
    </ul>
  </div>



<div class="row promos">
  
  <div class="medium-8 columns">

    <%= link_to blog_path(@blogs.first) do %>
      <div class='promo'>
      <p class='promo-image'><img src="<%= @blogs.first.photo.present? ? @blogs.first.photo.url : @blogs.first.video_image_url %>" alt="main article image"></p>
        <h2 class='promo-text'><%= @blogs.first.title.titleize %></h2>
    </div>
    <% end %>
  </div>

  <div class="medium-4 columns">
    <%= link_to blog_path(@blogs.second) do %>
      <div class='promo'>
        <p clss='promo-image'><img src="<%= @blogs.second.photo.present? ? @blogs.second.photo.url : @blogs.second.video_image_url %>" alt="article promo image"></p>
          <h3 class='sub-promo-text'><%= @blogs.second.title.titleize %></h3>
      </div> 
    <% end %>

    <%= link_to blog_path(@blogs.third) do %>  
      <div class='promo'>
        <p clss='promo-image'><img src="<%= @blogs.third.photo.present? ? @blogs.third.photo.url : @blogs.third.video_image_url %>" alt="article promo image"></p>
          <h3 class='sub-promo-text'><%= @blogs.third.title.titleize %></h3>
      </div>  
    <% end %>  
  </div>

</div>

<hr>

<div class="row column">
  <h4 style="margin: 0;" class="text-center">FAVORITE PRODUCTS</h4>
</div>

<hr>

<div class="row small-up-3 medium-up-4 large-up-5">

  <div class="column">
    <img src="http://placehold.it/400x370&text=Look at me!" alt="image for article">
  </div>

  <div class="column">
    <img src="http://placehold.it/400x370&text=Look at me!" alt="image for article">
  </div>

  <div class="column">
    <img src="http://placehold.it/400x370&text=Look at me!" alt="image for article">
  </div>

  <div class="column show-for-medium">
    <img src="http://placehold.it/400x370&text=Look at me!" alt="image for article">
  </div>

  <div class="column show-for-large">
    <img src="http://placehold.it/400x370&text=Look at me!" alt="image for article">
  </div>

</div>

<hr>

<div class="row column">
  <h4 style="margin: 0;" class="text-center">LATEST ARTICLES</h4>
</div>

<hr>

<div class="row">
  <div class="large-8 columns" style="border-right: 1px solid #E3E5E8;">

  <article>

    <% @blogs[3..6].each do |blog|  %>

    <%= link_to blog_path(blog) do %>
      <div class="row">
        <div class="large-6 columns">
          <% if blog.photo.present? %>
              <p><img src="<%= blog.photo.url(:thumb) %>" alt="image for article" alt="article preview image"></p>
          <% else %>

            <p><img src="<%= blog.video.present? ? blog.video_image_url : "http://placehold.it/600x370&text=Look at me!" %>" alt="image for article" alt="article preview image"></p>
          <% end %>  
        </div>
        <div class="large-6 columns">
          <h5><%= link_to blog.title.titleize, blog_path(blog) %></h5>
          <p>

            <span><i class="fi-calendar"> <%= blog.created_at.strftime("%-m/%-d/%y") %></i></span>

          </p>
          <p><%= blog.small_summary %>..<%= link_to "Read More", blog_path(blog) %></p>
        </div>
      </div>
     <% end %> 

      <hr>

    <% end %>


      <div class='large-7 large-centered columns'> 
        <%= link_to 'See All Blogs', blogs_path, class:'button' %>
      </div>

    </article>

  </div>

  <div class="large-4 columns">

    <aside>

      <div class="row small-up-3">

        <div class="column text-center">
          <h2>
            <%= link_to "https://www.facebook.com/drchrislockwood", class: "social-icon" do %>
              <i class="fi-social-facebook"></i>
            <% end %>
          </h2>
          <br>
        </div>

        <div class="column text-center">
          <h2>
            <%= link_to "https://twitter.com/drchrislockwood", class: "social-icon" do %>
              <i class="fi-social-twitter"></i>
            <% end %>
          </h2>
          <br>
        </div>

        
        <div class="column text-center">
          <h2>
            <%= link_to "https://www.instagram.com/drchrislockwood/", class: "social-icon" do %><i class="fi-social-instagram"></i>
          </h2>
          <% end %>
          <br>
        </div>


        <div class="column text-center">
          <h2>
            <%= link_to "https://www.linkedin.com/in/drchrislockwood", class: "social-icon" do %>
              <i class="fi-social-linkedin"></i>
            <% end %>
          </h2>

        </div>

        <div class="column text-center">
          <h2>
            <%= link_to "https://plus.google.com/+DrChrisLockwood", class: "social-icon" do %>
              <i class="fi-social-google-plus"></i>
            <% end %>
          </h2>

        </div>

        <div class="column text-center">
          <h2>
            <%= link_to "https://www.youtube.com/user/DrChrisLockwood", class: "social-icon" do %>
              <i class="fi-social-youtube"></i>
            <% end %>
          </h2>

        </div>

      </div>

      <br>

      <div class="row column">
        <p class="lead">FROM OUR FRIENDS</p>
        <p><img src="http://placehold.it/400x300&text=Buy Me!" alt="advertisement of ShamWow"></p>
      </div>

      <br>

      <%= render "layouts/trending" %>
    </aside>
    
  </div>
</div>

 
