<div class="row">
    <div class="medium-4 columns">
      <%= image_tag("lockwood_logo.jpeg") %>
    </div>
    <div class="medium-8 columns">
      <img src="http://placehold.it/900x175&text=Responsive Ads - ZURB Playground/333" alt="advertisement for deep fried Twinkies">
    </div>
  </div>


<div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle></button>
    <div class="title-bar-title">Menu</div>
  </div>

  <div class="top-bar" id="main-menu">
    <ul class="menu vertical medium-horizontal expanded medium-text-center">
      <li ><h4>Education</h4>
      </li>
      <li ><h4>Growth</h4>
      </li>
      <li ><h4>Fitness</h4>
      </li>
      <li ><h4>Safety</h4>
      </li>
    </ul>
  </div>



<div class="row promos">
  
  <div class="medium-8 columns">

    <%= link_to blog_path(@blogs.first) do %>
      <div class='promo'>
      <p class='promo-image'><img src="<%= @blogs.first.photo.present? ? @blogs.first.photo.url : @blogs.first.video_image_url %>" alt="main article image"></p>
        <h2 class='promo-text'><%= @blogs.first.title.titleize %></h2>
    </div>
    <% end %>
  </div>

  <div class="medium-4 columns">
    <%= link_to blog_path(@blogs.second) do %>
      <div class='promo'>
        <p clss='promo-image'><img src="<%= @blogs.second.photo.present? ? @blogs.second.photo.url : @blogs.second.video_image_url %>" alt="article promo image"></p>
          <h3 class='sub-promo-text'><%= @blogs.second.title.titleize %></h3>
      </div> 
    <% end %>

    <%= link_to blog_path(@blogs.third) do %>  
      <div class='promo'>
        <p clss='promo-image'><img src="<%= @blogs.third.photo.present? ? @blogs.third.photo.url : @blogs.third.video_image_url %>" alt="article promo image"></p>
          <h3 class='sub-promo-text'><%= @blogs.third.title.titleize %></h3>
      </div>  
    <% end %>  
  </div>

</div>

<hr>

<div class="row column">
  <h4 style="margin: 0;" class="text-center">FAVORITE PRODUCTS</h4>
</div>

<hr>

<div class="row small-up-3 medium-up-4 large-up-5">

  <div class="column">
    <img src="http://placehold.it/400x370&text=Look at me!" alt="image for article">
  </div>

  <div class="column">
    <img src="http://placehold.it/400x370&text=Look at me!" alt="image for article">
  </div>

  <div class="column">
    <img src="http://placehold.it/400x370&text=Look at me!" alt="image for article">
  </div>

  <div class="column show-for-medium">
    <img src="http://placehold.it/400x370&text=Look at me!" alt="image for article">
  </div>

  <div class="column show-for-large">
    <img src="http://placehold.it/400x370&text=Look at me!" alt="image for article">
  </div>

</div>

<hr>

<div class="row column">
  <h4 style="margin: 0;" class="text-center">LATEST ARTICLES</h4>
</div>

<hr>

<div class="row">
  <div class="large-8 columns" style="border-right: 1px solid #E3E5E8;">

  <article>

    <% @blogs[3..9].each do |blog|  %>

    <%= link_to blog_path(blog) do %>
      <div class="row">
        <div class="large-6 columns">
          <% if blog.photo.present? %>
              <p><img src="<%= blog.photo.url(:thumb) %>" alt="image for article" alt="article preview image"></p>
          <% else %>

            <p><img src="<%= blog.video.present? ? blog.video_image_url : "http://placehold.it/600x370&text=Look at me!" %>" alt="image for article" alt="article preview image"></p>
          <% end %>  
        </div>
        <div class="large-6 columns">
          <h5><%= link_to blog.title.titleize, blog_path(blog) %></h5>
          <p>

            <span><i class="fi-calendar"> <%= blog.created_at.strftime("%-m/%-d/%y") %></i></span>

          </p>
          <p><%= blog.small_summary %>..<%= link_to "Read More", blog_path(blog) %></p>
        </div>
      </div>
     <% end %> 

      <hr>

    <% end %>


      <div class='large-7 large-centered columns'> 
        <%= link_to 'See All Blogs', blogs_path, class:'button' %>
      </div>

    </article>

  </div>

  <div class="large-4 columns">

    <aside>

      <div class="row small-up-3">

        <div class="column text-center">
          <h2><i class="fi-social-facebook"></i></h2>
          <h6>56,009</h6>
          <p><small>FOLLOWERS</small></p>
          <br>
        </div>

        <div class="column text-center">
          <h2><i class="fi-social-twitter"></i></h2>
          <h6>76,905</h6>
          <p><small>FOLLOWERS</small></p>
          <br>
        </div>

        <div class="column text-center">
          <h2><i class="fi-social-instagram"></i></h2>
          <h6>34,099</h6>
          <p><small>FOLLOWERS</small></p>
          <br>
        </div>

        <div class="column text-center">
          <h2><i class="fi-social-tumblr"></i></h2>
          <h6>13,765</h6>
          <p><small>FOLLOWERS</small></p>
        </div>

        <div class="column text-center">
          <h2><i class="fi-social-pinterest"></i></h2>
          <h6>9,283</h6>
          <p><small>FOLLOWERS</small></p>
        </div>

        <div class="column text-center">
          <h2><i class="fi-social-youtube"></i></h2>
          <h6>99,000</h6>
          <p><small>FOLLOWERS</small></p>
        </div>

      </div>

      <br>

      <div class="row column">
        <p class="lead">FROM OUR FRIENDS</p>
        <p><img src="http://placehold.it/400x300&text=Buy Me!" alt="advertisement of ShamWow"></p>
      </div>

      <br>

      <div class="row column">
        <p class="lead">TRENDING POSTS</p>

        <div class="media-object">
          <div class="media-object-section">
            <img class="thumbnail" src= "http://placehold.it/100">
          </div>
          <div class="media-object-section">
            <h5>All I need is a space suit and I'm ready to go.</h5>
          </div>
        </div>

        <div class="media-object">
          <div class="media-object-section">
            <img class="thumbnail" src= "http://placehold.it/100">
          </div>
          <div class="media-object-section">
            <h5>Are the stars out tonight? I don't know if it's cloudy or bright.</h5>
          </div>
        </div>

        <div class="media-object">
          <div class="media-object-section">
            <img class="thumbnail" src= "http://placehold.it/100">
          </div>
          <div class="media-object-section">
            <h5>And the world keeps spinning.</h5>
          </div>
        </div>

        <div class="media-object">
          <div class="media-object-section">
            <img class="thumbnail" src= "http://placehold.it/100">
          </div>
          <div class="media-object-section">
            <h5>Cold hearted orb that rules the night.</h5>
          </div>
        </div>

      </div>
      
    </aside>
    
  </div>
</div>

  <div class="row expanded callout secondary">

    <div class="large-4 columns">
      <h5>FLICKR IMAGES</h5>
      <div class="row small-up-4">
        <div class="column"><img class="thumbnail" src="http://placehold.it/75" alt="image of space dog"></div>
        <div class="column"><img class="thumbnail" src="http://placehold.it/75" alt="image of space dog"></div>
        <div class="column"><img class="thumbnail" src="http://placehold.it/75" alt="image of space dog"></div>
        <div class="column"><img class="thumbnail" src="http://placehold.it/75" alt="image of space dog"></div>
        <div class="column"><img class="thumbnail" src="http://placehold.it/75" alt="image of space dog"></div>
        <div class="column"><img class="thumbnail" src="http://placehold.it/75" alt="image of space dog"></div>
        <div class="column"><img class="thumbnail" src="http://placehold.it/75" alt="image of space dog"></div>
        <div class="column"><img class="thumbnail" src="http://placehold.it/75" alt="image of space dog"></div>
      </div>
      
    </div>

    <div class="large-4 columns">
      <h5>CATEGORIES</h5>
      <% @tags.each do |tag| %>
        <span class="secondary label home-tag"><%= link_to tag.titleize, tag_path(tag) %></span>
      <% end %>
    </div>

    <div class="large-4 columns">
      <h5>LOCKWOOD LLC</h5>
      <p>Dedicated to helping people attain the body they've always wanted. Because life is better when you are in shape.</p>
    </div>

  </div>
