<div class='home-title-image' style='background-image: url(<%= @photo_1 %>);'>
    <div class='over-lay'>
    <br>
    <div class='columns title-text first-image'>
      <h2>Lockwood Fitness</h2>
      <h5>Create the perfect suppliment mix with our innovative fomula software</h5>
      <%= link_to "Read Blog", blogs_path, class: 'button clear' %>
      <%= link_to "Get Recipie", blogs_path, class: 'button clear'  %>
    </div>
  </div>
</div>

<div class='i-v-e'>
  <br><br>
  <div class='row small-centered columns'>
    <%= link_to blogs_path do  %>
    <div class='large-4 columns icon-text'>
      <h1 class='icons'><i class="fi-wrench"></i><i class="fi-widget"></i></h1>
      <h3>Innovation</h3>
    </div>
    <% end %>
    <%= link_to blogs_path do  %>
    <div class='large-4 columns icon-text'>
      <h1 class='icons'><i class="fi-checkbox"></i></h1>
      <h3>Validation</h3>
    </div>
    <% end %>
    <%= link_to blogs_path do  %>
    <div class='large-4 columns icon-text'>
    <h1 class='icons'> <i class="fi-megaphone"></i></h1>
      <h3>Education</h3>
    </div>
    <% end %>
    <br><br>
  </div>
</div>

<div class='home-title-image' style='background-image: url(<%= @photo_2 %>);'>
  <div class='over-lay'>
    <br><br>
    <div class='row small-centered columns title-text second-image'>
      <h1>What We Do</h1>
      <h5>You want to create the perfect suppliment. Maybe you want a suppliment to help you loose weight. Maybe you just want something to help you stay strong and want it totally organic. Or maybe you don't care about all that hippy stuff and just want the best formula to help you get mad swoll.</h5>
       <h3>What ever you'r trying to accomplish, we'll find the perfect mix for you.</h3>
      <br>
      <%= link_to "Create Your Secret Formula", blogs_path, class: 'button clear'  %>
    </div>
    <br><br>
  </div>
</div>
