 <div class="callout large primary">
      <div class="row column text-center">
        <h1><%= @tag_name.titleize %></h1>
      </div>
    </div>
    
    <div class="row" id="content">
      <div class='large-7 columns '>
        <% @blogs.each do |blog| %>
          <div class="blog-post">
            <h2><%= link_to blog.title.titleize, blog_path(blog), class:'blog-title-link' %> <small><%= blog.created_at.strftime("%-m/%-d/%y") %></small></h2>
            <img class="thumbnail" src="http://placehold.it/850x350">
            <p><%= blog.summary.html_safe %></p>
            <div class='row'>
              <div class="callout">
                  <ul class="menu">
                  <% blog.tags.all.each do |t| %>
                    <li><%= link_to t.name.titleize, tag_path(t.name) %></li>
                  <% end %>
                  </ul>
              </div>
            </div>
          </div>
        <% end %>
      </div>  
      <div class="large-4 columns" data-sticky-container>
        <div class="sticky" data-sticky data-anchor="content">
          <h4>Categories</h4>
          <ul>
             <% @tags.each do |tag| %>
              <li class='button second'><%= link_to tag.titleize, tag_path(tag) %></li>
            <% end %>  
          </ul>

        </div>
      </div>
    </div>
    </div>
    <%= will_paginate @blogs, renderer: FoundationPagination::Rails %>
   
    

  