<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:900" rel="stylesheet">

    <title>Dr. Chris Lockwood</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag Ckeditor.cdn_url %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'layouts/nav' %>
    <%= link_to root_path do %>
      <%= image_tag("LOCKWOOD_full_copy.png", :style => 'max-width: 300px; margin-top: -70px; margin-left: 20px;') %>
    <% end %>
    <% if admin_signed_in? || request.original_url == "#{request.base_url}/admins/sign_in" %>
      <%= yield %>
    <% else %>
      <div class='container container-fluid'>
        <%= link_to "Admin Sign In", new_admin_session_path %>
        <%= render 'layouts/site_gate' %>
      </div>
    <% end %>
  </body>

  <footer>
    <hr>
    <div class="row expanded">
      <div class="medium-6 columns">
        <ul class="menu">
         <li><%= link_to "Admin", new_admin_session_path %></li>
        </ul>
      </div>

      <div class="medium-6 columns">
        <ul class="menu align-right">
          <li class="menu-text">Copyright © 2016 Lockwood LLC</li>
        </ul>
      </div>
    </div>
  </footer>
</html>
